{% extends 'page.html' %}
{% block title %}Contact – araleyatimes.net{% endblock %}
{% block canonical %}
    <link rel="canonical" href="https://araleyatimes.net/contact">
{% endblock canonical %}
{% block bodyclass %}narrow{% endblock %}
{% block content %}
<h1>Contact</h1>
<p>If you wish to contact me, message me on Discord — my username is <strong>araleya</strong>.</p>
<p>If you wish to contact the owner of the original site (<a href="https://bustimes.org">bustimes.org</a>), you can do so through their <a href="https://discord.com/invite/gY4PdDFau7">Discord server</a>.</p>
{% endblock content %}
