{% for key, from, to in revision.list_changes %}
    <strong>{{ key }}</strong>
    {% if from %}from {{ from }}{% endif %}
    {% if to %}to {{ to }}{% endif %}
    <br>
{% endfor %}
{% if revision.vehiclerevisionfeature_set.all %}
    <strong>features</strong> {% for feature in revision.vehiclerevisionfeature_set.all %}{{ feature }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>
{% endif %}
{% if revision.message %}
    <p class="wrap">{{ revision.message|urlize|linebreaksbr }}
{% endif %}
